@model IEnumerable<VidlyProject.Models.Movie>

@{
  ViewBag.Title = "Movies";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div style="padding-bottom:20px;">
  @Html.ActionLink("Add Movie", "New", "Movies", new { @class = "btn btn-primary btn-large"})
</div>

@if (!Model.Any())
{
  <p class="alert-danger">There are no movies</p>
}
else
{
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var movie in Model)
      {
        <tr>
          <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td> <!--link text, controller, action, attributes, null (not sure why null at the end)-->
          <td>@movie.Genre.Name</td>
        </tr>
      }
    </tbody>
  </table>
}

