@model VidlyProject.Models.Customer

@{
  ViewBag.Title = "Customer Details";
  Layout = "~/Views/Shared/_Layout.cshtml";

  var isBirthday = Model.Birthday == null;
}

<h2>@Model.Name</h2>

<ul>
  @if (!isBirthday)
  {
    <li>Birthday: <strong>@String.Format("{0:d}", Model.Birthday)</strong></li><!--formats date without time-->
  }    
  <li>Membership Type: <strong>@Model.MembershipType.Name</strong></li>
</ul>