@model IEnumerable<VidlyProject.Models.Customer>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div style="padding-bottom:20px;">
  @Html.ActionLink("Add Customer", "New", "Customers", new { @class = "btn btn-primary btn-large" })
</div>

@if (!Model.Any())
{
  <p class="alert-danger">There are no customers</p>
}
else
{
  <table id="customers" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var customer in Model)
      {
        <tr>
          <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td> <!--link text, controller, action, attributes, null (not sure why null at the end)-->
          <td>@customer.MembershipType.Name</td>
          <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
        </tr>
      }
    </tbody>
  </table>
}

@section scripts {
<script>
  $(document).ready(function () {
    $("#customers").DataTable();

    $("#customers").on("click", ".js-delete", function () {
      var button = $(this);

      bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
        if (result) {
          $.ajax({
            url: "/api/customers/" + button.attr("data-customer-id"),
            method: "DELETE",
            success: function () {
              button.parents("tr").remove();
            }
          });
        }
      });
    });
  });
  </script>  
}

